@charset "UTF-8";

* {
    margin: 0px;
    /* TIRAR O ESPAÇO DO TEXTO */
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; */ /* TRANSFORMAR LETRAS EM MAIUSCULA */
    font-variant: small-caps; /* OUTRA ALTERNATIVA PARA TRANSFORMAR EM MAIUSCULA */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* ESPAÇAMENTO ENTRE CADA FRASE */
    padding-left: 30px; /* ESPAÇAMENTO ENTRE O INICIO DO CANTO ESQUERDO DA FRASE */
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.247);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}